Source: fai-distributions
Section: unknown
Priority: optional
Maintainer: Henning Sprang <henning@sprang.de>
Build-Depends: debhelper (>= 4.0.0)
Recommends: rpmstrap
Standards-Version: 3.6.1

Package: fai-distributions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
