#!/usr/bin/make -f
#
# debian/rules for fai-kernels
#
# $Id: rules,v 1.19 2005/04/08 14:06:20 lange Exp $

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# we never want CVS and subversion files in our packages
export DH_ALWAYS_EXCLUDE=CVS:.svn


DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

export PATCH_THE_KERNEL=YES

createconfig24=cp kernel-config-2.4.$(DEB_HOST_ARCH) $(kname24)/.config
createconfig26=cp kernel-config-2.6.$(DEB_HOST_ARCH) $(kname)/.config

include versions
REVISION=1
kname24=kernel-source-$(kversion24)
kname=linux-source-$(kversion)

unpack: unpack-stamp
unpack-stamp:
	bzcat /usr/src/$(kname).tar.bz2 | tar -xf -
	touch unpack-stamp

unpack24: unpack-stamp24
unpack-stamp24:
	bzcat /usr/src/$(kname24).tar.bz2 | tar -xf -
	## apply the patch for #328707, if it has not been applied to kernel-source-2.4.27 yet (which will hopefully happen in 2.4.27-12)
	cd $(kname24) ; patch --dry-run -N -p1 < ../328707.patch && patch -p1 < ../328707.patch 
	touch unpack-stamp24

# kernel 2.6
kernel: stamp-kernel
stamp-kernel: unpack-stamp 
	$(createconfig26)
	cd $(kname) ; \
	yes '' | make oldconfig ; \
	cd $(kname) ; make-kpkg clean ; \
	make-kpkg --rootcmd fakeroot --append-to-version -fai-kernels --revision $(REVISION) kernel-image 
	touch stamp-kernel

# kernel 2.4
kernel24: stamp-24
stamp-24: unpack-stamp24
	$(createconfig24)
	cd $(kname24) ; \
	yes '' | make oldconfig ; \
	make-kpkg clean ; \
	make-kpkg --rootcmd fakeroot --append-to-version -fai-kernels --revision $(REVISION) kernel-image 
	touch stamp-24

# build 2.4 and 2.6 only on i386
build:	
ifeq ($(DEB_HOST_ARCH),i386)
	debian/rules kernel24 
	debian/rules kernel
else
	debian/rules kernel
endif
	
veryclean:
	rm -f *stamp* *.deb
	-rm -rf $(kname) $(kname24)
	dh_clean

clean:
	dh_clean

install: install-stamp
install-stamp: build
	dh_clean -k
	dh_installdirs
	cp -p *.deb `pwd`/debian/fai-kernels/usr/lib/fai/kernel
	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
#	dh_testversion

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
ifeq ($(DEB_HOST_ARCH),i386)
	cp -p $(kname24)/.config `pwd`/debian/fai-kernels/usr/share/doc/fai-kernels/config-$(kversion24)
endif	
	cp -p $(kname)/.config `pwd`/debian/fai-kernels/usr/share/doc/fai-kernels/config-$(kversion)
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install kernel unpack unpack24
