<html>

<head>
<link rel="StyleSheet" href="../template_style.css" type="text/css" />
<script type="text/javascript" src="views.js" ></script>
</head>

<body>

<h2>Hostname</h2>
<form name="list_selection">
<fieldset>
<div class="input_section">
	<label>Availible<br/>
 	<select name="availible_classes" id="availible_classes" size="10">
		<option>lcd</option>
		<option>games</option>
		<option>science</option>
		<option>school</option>
		<option>economics</option>
                <option>cdrom</option>
                <option>testing</option>
                <option>admin</option>
                <option>kiosk</option>
                <option>ha-cluster</option>
                <option>non-free</option>
                <option>scsi</option>
                <option>admin-tools</option>
                <option>recovery</option>
                <option>openSolaris</option>

	</select><br/>
	<input type="button" value="&gt;" id="rightarrow" class="clickable" onclick="AddEnable();" />
	</label>
</div>
<div class="vr">
</div>
<div class="input_section">	
	<label>Enabled<br/>
	<select name="enabled_classes" id="enabled_classes" size="10">
	</select>
	<br/>
	<input type="button" value="&lt;" id="leftarrow" class="clickable" onclick="RmEnable();" />		
	</label>		
</div>
<div class="vr" style="border:0px;padding-top:65px;">
		<input type="button" class="clickable" id="uparrow" value="&Lambda;" style="width:50px;" onclick="moveup()" /><br/><br/>
                <input type="button" class="clickable" id="downarrow" value="V" style="width:50px;" onclick="movedown()" />

</div>
<div class="input_section"><br/>
	<div id="intro_box">
	Add the classes needed by your host by clicking the arrows. When you are done press Submit and the changes will be commited. If you want to specify the settings for a specific class, just double-click on the class.
	</div><br/>
	<input type="submit" class="clickable"><br/><br/>
	<input type="reset" class="clickable"><br/>
</div>
</fieldset>
</form>
</body>
</html>
