body {
	font-family: verdana;
	font-size: 100%;
	background: url("bgfade.png") repeat-x bottom #def;
	background-position: 0% 100%;
	background-attachment: fixed;
	
	margin:0px;
}

#top_field {
	position:absolute;
	left:0px;
	top:0px;
	width: 100%;
	height:47px;
	margin:0px;
	border: 5px black;
	background-image: url('top_bar.png');
	background-repeat: repeat-x;
	background-position: top left;
	overflow: hidden;
	padding-top:0px;
	vertical-align:top;
}
	
input, #search {
	background-color:#ffffff; 
	border:1px 
	solid #cccccc; 
	color:#505050; 
	font-size:0.9em; 
	width:150px;
	vertical-align:top;	
}
input, #hint {
	background-color:#ffffff;
	border:0px;
	vertical-align:top;
	
}
.searchform, img {
	vertical-align:top;
}

.searchform {
	position:relative;
	top:0px;
}

ul#top_bar_list {
	margin:0px;
	padding:0px;
	padding-top:3px;
	min-width:860px;
}
li {
	
	display: inline;
 	padding: 2em;
	margin-top: 0px;
	padding-top: 0px;
}


li a {
	text-decoration:none;
	color: gray;
}
#searchbar {
	position: absolute;
	top:0px;
	right:0px;

}
.searchform {
	display: inline;
	border:0px;
}

#main_field {
	margin: 0px;
	padding: 0px;
	width:100%;
	border:0px;
	border-spacing:0px;	
	min-width:860px;
}

div#upper_shadow {
        height:127px;
        border: 0px;
        padding:0px;
        /*line-height:127px;*/
	position:static;
	margin:0px 199px -199px;
	min-height:127px;
	max-height:127px;
}

div#upper_left_shadow {
        background: url('upper_left_shadow.png') no-repeat;
        width:199px;
        height:127px;
        position:static;
        float:left;
}

div#upper_right_shadow {
        background: url('upper_right_shadow.png') no-repeat;
	width:199px;
	height:127px;
        position: static;
        float:right;
}

#menu_list {
	text-align:center;
	border:0px;
	border-spacing:0px 0px;
	width:100%;
	vertical-align: bottom;
        min-height:127px;
        max-height:127px;
}

.menu_item {
	padding:0px;
	margin:0px;
        text-align:center;
	border: 0px;
	background: url('upper_shadow3.png') repeat-x ;
	border-bottom: 5px solid transparent;
	overflow: auto;
        min-height:127px;
        max-height:127px;
	height:127px;
	vertical-align:bottom;
}

td.menu_item p {
	line-height:0px;
	font-size: smaller;
	text-align:center;
}

td.menu_item img {
	border:0px;
}

.menu_item:hover {
	background:url('upper_shadow4.png') top repeat-x;
	border-bottom: 5px solid #f6f0d0;
	
}
.menu_item a {
	text-decoration:none;
	text-transform: capitalize;
	color: gray;
	font-size:smaller;
}
.menu_item a:hover {
        text-decoration:underline;
        color: black;
	text-transform: capitalize;
}

div#upper {
	width:100%;
	clear:left;
	display:inline;
}
div#lower {
	width:100%;
	clear:left;
}

div#intro_box {
	margin-left:0.5em;
	margin-right:0.5em;
	padding: 5px;
	border:1px solid silver;
	background-color: #f6f0d0;
	color:black;
}

div#content {
	margin: 0px 0px -199px;
	/*860-(199*2)*/
	min-width:462px;
	position:absolute;
        left:199px;
        right:199px;
        top:127px;
}

.icon {
	border:1px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	float:left;
	position:relative;
	background: #dfdfff;
	color: #000;
}
.icon:hover {
        border:1px solid #ddf;
        margin: 0.5em;
        padding: 0.5em;
        float:left;
        position:relative;
	background: #eef;
}

.icon img {	
	border:0px;
}
.icon p {
	font-style:italic;
	font-size: smaller;
	text-indent:0;
	text-align:center;	
}

div#left_shadow {
        background: url('left_shadow.png') no-repeat;
        height:490px;
	width:200px;
        border:0px;
        padding:0px;
        position:static;
        float:left;
}

div#right_shadow {
        background: url('right_shadow.png') no-repeat;
        height:490px;
        width:199px;
        border:0px;
        padding:0px;
	float: right;
}

#validation {
	position:absolute;
	bottom:10px;
	right:10px;
}
