Source: fai-kernels
Section: admin
Priority: extra
Maintainer: Holger Levsen <debian@layer-acht.org>
Standards-Version: 3.5.6
Build-Depends: kernel-tree-2.6.8-16sarge1, kernel-tree-2.4.27-10sarge1, modutils, kernel-package, debhelper, bin86, fakeroot

Package: fai-kernels
Architecture: i386
Description: special kernels for FAI (Fully Automatic Installation)
 This package contains the kernels which are used by the install
 clients during the fully automatic installation. These kernels are
 only useful for the package FAI.
